{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'songapp/dark-theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'songapp/style.css' %}">

<div class="main-navbar">
  <ul>
    <li><h3 class="title">Songs I Know</h3></li>
  </ul>
  <ul>
    <li><a href="https://github.com/alishalabi/new-songs-i-know">
      <img src="{% static 'songapp/images/github.png' %}"
      alt="No Image Available :(" style="height:3em;width:auto;"/>Github</a></li>
  </ul>
</div>

<div class="index-header">
  <div class="index-image">
    <!-- <img src="{{STATIC_URL}}images/ali.jpeg" alt="No Image Available :("/> -->
    <img src="{% static 'songapp/images/ali.jpeg' %}" alt="No Image Available :(" style="height:25em;width:auto"/>
  </div>
  <div class="index-text-wrapper">
    <div class="index-text-title">
      <h1>Songs Ali Knows</h1>
    </div>
    <div class="index-text-description">
      <p>
        Hello, my name is Ali.
      </p>
      <p>
        I like to cook Thai food, foster kittens, and watch Jeopardy with Alex Trebek.
        But most of all...I love to play guitar! I created this website as a repository
        for all the songs I taught myself to play - including links to video tutorials,
        song tabs, and lyrics.
      </p>
    </div>
  </div>
</div>


<div class="index-table">
  <div class="index-row-top">
    <h2>Song Name</h2>
    <h2>Artist</h2>
    <h2>Difficulty Level</h2>
  </div>
  {% if all_songs %}
      <ul>
      {% for song in all_songs %}
          <div class="index-row">
            <li><a href="{% url 'songapp:detail' song.id %}"><h2>{{ song.song_name }}</h2></a></li>
            <li><a href="{% url 'songapp:detail' song.id %}"><h2>{{ song.artist }}</h2></a></li>
            <li><a href="{% url 'songapp:detail' song.id %}"><h2>{{ song.experience_level }}</h2></a></li>
          </div>
      {% endfor %}
      </ul>
  {% else %}
      <p>No songs are available.</p>
  {% endif %}
</div>
