:root {
  --bg-color: #111111;
  --fg-color: #FCFCFC;
  --my-green: #84D850;
}

body {
  margin: 0;
  font-family: Candara;
  line-height: 50px;
  text-decoration: none;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  color: var(--fg-color);
  text-decoration: hidden;
}

a:link {
  text-decoration: none;
  transition: 0.25s all ease;
}

a:hover {
  color: var(--my-green);
}

/* img {
  width: 100px;
  height: 100px;
} */

.index-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px 200px 50px 200px;
}

.index-text-wrapper {
  width: 30%;
  border-style: solid;
  padding: 10px 40px 10px 40px;
}

.index-text-title > h1 {
  margin-top: 0px;
}
