:root {
  --bg-color: #111111;
  --fg-color: #FCFCFC;
  --song-highlight: #84D850;
  --index-wrapper: #2D2D2C;
  --navbar-color: #2D2D2C;
  --title-highlight: #ff0080;
  --title-color: #111111;
}


/* ----- General Elements ----- */
body {
  margin: 0;
  /* padding-left: 30px;
  padding-right: 30px; */
  font-family: Candara;
  line-height: 50px;
  text-decoration: none;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  color: var(--fg-color);
  text-decoration: hidden;
}

a:link {
  text-decoration: none;
  transition: 0.25s all ease;
}

a:hover {
  color: var(--song-highlight);
}

img {
  border-radius: 45%;
}

/* ----- Navbar Elements ----- */
.main-navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--navbar-color);
  color: white;
  padding: 0;
  height: 4em;
  padding-left: 30px;
  padding-right: 30px;
}

.main-navbar > ul {
  display: flex;
  justify-content:  space-between;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.main-navbar > ul > li {
  justify-content: space-between;
}

.main-navbar > ul> li > h3 {
  font-size: 2.5em;
}


/* ----- Index Header Elements ----- */
.index-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px 200px 50px 200px;
}

.index-text-wrapper {
  width: 30%;
  border-style: solid;
  padding: 10px 40px 10px 40px;
  background-color: var(--index-wrapper)
}

.index-text-title {
  margin-top: 0px;
  color: var(--title-color);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px var(--title-highlight),
    0 0 30px var(--title-highlight),
    0 0 40px var(--title-highlight),
    0 0 55px var(--title-highlight),
    0 0 75px var(--title-highlight);
}

/* ----- Index Song Elements ----- */
.index-row:nth-child(even) {
  background-color: var(--index-wrapper);
}

.index-row-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--index-wrapper);
  text-decoration: underline;
  padding-left: 30px;
  padding-right: 30px;
}

.index-row > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0px;
  padding-left: 30px;
  padding-right: 30px;
}
